<a href="https://colab.research.google.com/github/ZhouShen2489/9DoF_MARG_Madgwick_Filter/blob/master/project1part3/Final_database_project1_part3_handin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
!pip3 install sqlalchemy # ORM for databases
!pip3 install ipython-sql # SQL magic function

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.35)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (3.2.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.35)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.8.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)

In [ ]:
%load_ext sql

## Connect With Your Credentials

The current connection string DOES NOT WORK!   
Make sure to change the YOURUSER:YOURPASSWORD part of the connection string to your team's account information!

In [ ]:
%sql postgresql://zs2489:7842@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2

In [109]:
# see all the tables you have
%%sql SELECT *
FROM pg_catalog.pg_tables
WHERE tableowner='zs2489'

 * postgresql://zs2489:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
15 rows affected.

[('zs2489', 'schools', 'zs2489', None, True, False, True, False),
 ('zs2489', 'languages', 'zs2489', None, True, False, True, False),
 ('zs2489', 'majors', 'zs2489', None, True, False, True, False),
 ('zs2489', 'users', 'zs2489', None, True, False, True, False),
 ('zs2489', 'native_language', 'zs2489', None, True, False, True, False),
 ('zs2489', 'learn_language', 'zs2489', None, True, False, True, False),
 ('zs2489', 'like_moment', 'zs2489', None, True, False, True, False),
 ('zs2489', 'follows', 'zs2489', None, True, False, True, False),
 ('zs2489', 'moments', 'zs2489', None, True, False, True, False),
 ('zs2489', 'comments', 'zs2489', None, True, False, True, False),
 ('zs2489', 'events', 'zs2489', None, True, False, True, False),
 ('zs2489', 'join_event', 'zs2489', None, True, False, True, False),
 ('zs2489', 'resources', 'zs2489', None, True, False, True, False),
 ('zs2489', 'reviews', 'zs2489', None, True, False, True, False),
 ('zs2489', 'vote_review', 'zs2489', None, True, False, True, False)]

In [ ]:
%%sql
DROP FUNCTION IF EXISTS f_update_like_count, f_delete_like_count, f_update_join_event CASCADE;

DROP TRIGGER IF EXISTS t_update_like_count ON like_comment CASCADE;
DROP TRIGGER IF EXISTS t_delete_like_count ON like_comment CASCADE;
DROP TRIGGER IF EXISTS t_update_join_event ON join_event CASCADE;

DROP TABLE IF EXISTS schools, majors, languages, users, native_language, learn_language, follows, moments, comments, like_moment, events, join_event, resources, reviews, vote_review CASCADE;


CREATE TABLE schools (
  school_id int,
  school_name char(100),
  PRIMARY KEY(school_id)
);

CREATE TABLE majors (
  major_id int,
  major_name char(25),
  PRIMARY KEY(major_id)
);

CREATE TABLE languages (
  language_id int,
  language_name char(25),
  PRIMARY KEY(language_id)
);

CREATE TABLE users (
  user_id serial,
  user_name char(15) NOT NULL, --standard username length 1 to 15
  user_password varchar(255) NOT NULL, --hashed password
  self_introduction varchar(255) NOT NULL, --User can input interests, hobbies, places want to go
  school_name_id smallint,
  major_name_id smallint,
  email varchar(255),
  age smallint,
  sex smallint,
  user_deleted bool DEFAULT FALSE,  --fake delete from user end
  PRIMARY KEY(user_id),
  FOREIGN KEY(school_name_id) REFERENCES schools(school_id),  --can be null
  FOREIGN KEY(major_name_id) REFERENCES majors(major_id),   --can be null
  CONSTRAINT email_valid_cheak CHECK (email LIKE '%@%' OR email = NULL),
  CONSTRAINT age_range_check CHECK ((age >= 13 AND age <= 120) OR age = NULL),  --reference: hellotalk rating stardard in north&south america
  CONSTRAINT gender_selection_check CHECK (sex IN (0, 1, 2, 9) OR sex = NULL)  --ISO/IEC 5218 standard sex 0:Not known 1:Male 2:Female 9:Not applicable
);

CREATE TABLE native_language (
  uid int,
  lid int,
  PRIMARY KEY(uid, lid),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  FOREIGN KEY(lid) REFERENCES languages(language_id) ON DELETE CASCADE
);

CREATE TABLE learn_language (
  uid int,
  lid int, 
  level smallint DEFAULT 1,
  PRIMARY KEY(uid, lid),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  FOREIGN KEY(lid) REFERENCES languages(language_id) ON DELETE CASCADE,
  CONSTRAINT level_valid_check CHECK (level IN (1,2,3,4,5))  --1:Begineer, 2:Elementary, 3:Intermediate, 4:Advanced, 5:Proficient
);

CREATE TABLE follows (
  follower_id int,
  followed_id int,
  PRIMARY KEY(follower_id, followed_id),
  FOREIGN KEY(follower_id) REFERENCES users(user_id) ON DELETE CASCADE,
  FOREIGN KEY(followed_id) REFERENCES users(user_id) ON DELETE CASCADE
);

CREATE TABLE moments (
  moment_id serial,
  uid int NOT NULL,
  moment_content text NOT NULL,
  moment_post_time timestamp NOT NULL,
  like_count int DEFAULT 0,
  user_deleted bool DEFAULT FALSE,  --fake delete from user end
  PRIMARY KEY(moment_id),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE
);

CREATE TABLE comments (
  comment_id serial,
  mid int NOT NULL,
  uid int NOT NULL,
  comment_content varchar(255) NOT NULL, --building like comments, using @ to point to the parent_id 
  comment_post_time timestamp NOT NULL,
  parent_comment_id int,  -- if null, it is a direct comment. if not null, user use @ to @ someone.
  user_deleted bool DEFAULT FALSE,  --fake delete from user end
  PRIMARY KEY(comment_id),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,   --What if the delete of user is be @ by other user. If delete, should it be ON DELTE CASCADE.
  FOREIGN KEY(mid) REFERENCES moments(moment_id) ON DELETE CASCADE
);

CREATE TABLE like_moment (
  uid int NOT NULL,
  mid int NOT NULL,
  PRIMARY KEY(uid, mid),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  FOREIGN KEY(mid) REFERENCES moments(moment_id) ON DELETE CASCADE
);

--Once insert a record in like_moment, the like_count attribute in moments will plus 1
CREATE FUNCTION f_update_like_count() RETURNS trigger
AS $$
BEGIN
  UPDATE moments
  SET like_count = like_count + 1
  WHERE moment_id = NEW.mid;
  RETURN NULL;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER t_update_like_count 
  AFTER INSERT ON like_moment
  FOR EACH ROW
    EXECUTE PROCEDURE f_update_like_count();

CREATE TABLE events (
  event_id serial,
  uid int NOT NULL,
  event_title char(50) NOT NULL,
  event_content text NOT NULL,
  event_post_time timestamp NOT NULL,
  is_allday bool DEFAULT TRUE,
  join_limit int DEFAULT 1000,
  join_count int DEFAULT 0,
  start_date date NOT NULL DEFAULT CURRENT_DATE,
  end_date date,
  start_time time,
  end_time time,
  user_deleted bool DEFAULT FALSE, --fake delete from user end
  PRIMARY KEY(event_id),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  CONSTRAINT join_limit_check CHECK (join_limit >= join_count),
  CHECK (((start_time is NULL AND end_time is NULL) OR is_allday = FALSE) AND ((start_time is NOT NULL AND end_time is NOT NULL) OR is_allday = TRUE)) --make sure if all-day, start/end_time must be filled. If not all-day, start/end_time should be null
);

CREATE TABLE join_event (
  uid int NOT NULL,
  eid int NOT NULL,
  join_time timestamp NOT NULL,
  PRIMARY KEY(uid, eid),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  FOREIGN KEY(eid) REFERENCES events(event_id) ON DELETE CASCADE
);

--Once insert a record in join_event, the join_count attribute in events will plus 1
CREATE FUNCTION f_update_join_event() RETURNS trigger
AS $$
BEGIN
  UPDATE events
  SET join_count = join_count + 1
  WHERE event_id = NEW.eid;
  RETURN NULL;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER t_update_join_event
  AFTER INSERT ON join_event
  FOR EACH ROW
    EXECUTE PROCEDURE f_update_join_event();

CREATE TABLE resources (
  resource_id serial,
  uid int NOT NULL,
  resource_title char(140) NOT NULL,
  resource_type varchar(255) NOT NULL,  --see check constraint.
  recource_content text NOT NULL,
  recource_linkage varchar(255),
  resource_post_time timestamp NOT NULL,
  avg_stars real DEFAULT NULL,  --the average score of the resource in the form of 5 stars
  user_deleted bool DEFAULT FALSE,
  PRIMARY KEY(resource_id),
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  CONSTRAINT select_resource_type CHECK (resource_type IN ('Book', 'Video', 'Online Tutorial', 'Learning Experience', 'Language Exam'))
);

CREATE TABLE reviews (
  review_id serial,
  rid int NOT NULL,
  uid int NOT NULL,
  review_content text NOT NULL,
  review_post_time timestamp NOT NULL,
  star_score smallint DEFAULT NULL, --the star score to the resource
  vote_score smallint DEFAULT 0,  --the vote score of the review
  user_deleted bool DEFAULT FALSE,
  PRIMARY KEY(review_id),
  FOREIGN KEY(rid) REFERENCES resources(resource_id) ON DELETE CASCADE,
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  CONSTRAINT star_valid_check CHECK (star_score IN (1,2,3,4,5))
);

CREATE TABLE vote_review (
  rid int NOT NULL,
  uid int NOT NULL,
  vote int NOT NULL,
  PRIMARY KEY(uid, rid),
  FOREIGN KEY(rid) REFERENCES reviews(review_id) ON DELETE CASCADE,
  FOREIGN KEY(uid) REFERENCES users(user_id) ON DELETE CASCADE,
  CONSTRAINT vote_valid_check CHECK (vote in (-1,1)) --If user think the review is good, vote score of the review will plus 1. Otherwise, vote score of the review will minus 1.
);

In [ ]:
import pandas as pd
import os
main_path = 'https://raw.githubusercontent.com/litony99/language_platform/main/external_data_files/csv_files'
file_names = ['schools.csv','majors.csv','languages.csv','users.csv','native_language.csv','learn_language.csv','follows.csv','moments.csv','comments.csv','like_moment.csv','events.csv','join_event.csv','resources.csv','reviews.csv','vote_review.csv']
file_columns_count = [2,2,2,9,2,2,3,6,7,2,13,3,9,7,3] #how many attributes are there for each table

path_lists = []
for i in range(len(file_names)):
  file_path = os.path.join(main_path, file_names[i])
  path_lists.append(file_path)
for j in range(len(path_lists)):
  df = pd.read_csv(path_lists[j])
  print(df.columns)
  if j == 0:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      %sql INSERT INTO schools VALUES (:a,:b);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 1:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      %sql INSERT INTO majors VALUES (:a,:b);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 2:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      %sql INSERT INTO languages VALUES (:a,:b);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 3:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      d = row[3]
      e = row[4]
      f = row[5]
      g = row[6]
      h = row[7]
      i = row[8]
      %sql INSERT INTO users VALUES (:a,:b,:c,:d,:e,:f,:g,:h,:i);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 4:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      %sql INSERT INTO native_language VALUES (:a,:b);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 5:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      %sql INSERT INTO learn_language VALUES (:a,:b,:c);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 6:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      %sql INSERT INTO follows VALUES (:a,:b);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 7:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      d = row[3]
      e = row[4]
      f = row[5]
      %sql INSERT INTO moments VALUES (:a,:b,:c,:d,:e,:f);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 8:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      d = row[3]
      e = row[4]
      f = row[5]
      g = row[6]
      %sql INSERT INTO comments VALUES (:a,:b,:c,:d,:e,:f,:g);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 9:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      %sql INSERT INTO like_moment VALUES (:a,:b);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 10:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      d = row[3]
      e = row[4]
      f = row[5]
      g = row[6]
      h = row[7]
      i = row[8]
      j = row[9]
      k = row[10]
      l = row[11]
      m = row[12]
      %sql INSERT INTO events VALUES (:a,:b,:c,:d,:e,:f,:g,:h,:i,:j,:k,:l,:m);
    
  elif j == 11:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      %sql INSERT INTO join_event VALUES (:a,:b,:c);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 12:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      d = row[3]
      e = row[4]
      f = row[5]
      g = row[6]
      h = row[7]
      i = row[8]
      %sql INSERT INTO resources VALUES (:a,:b,:c,:d,:e,:f,:g,:h,:i);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 13:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      d = row[3]
      e = row[4]
      f = row[5]
      g = row[6]
      h = row[7]
      %sql INSERT INTO reviews VALUES (:a,:b,:c,:d,:e,:f,:g,:h);
    print(f"Loading {file_names[j]} success!\n\n")
  elif j == 14:
    for index, row in df.iterrows():
      a = row[0]
      b = row[1]
      c = row[2]
      %sql INSERT INTO vote_review VALUES (:a,:b,:c);
    print(f"Loading {file_names[j]} success!\n\n")

In [ ]:
%%sql
--Fisrt Query
--Calculate the Contribution of the user in DESC. The contribution of the user = his/her each shared-resource avg_stars * 10 + his/her each review vote_score
WITH resource_contribution(uid, total_score) AS
  (SELECT uid, SUM(avg_stars) * 5
   FROM resources
   GROUP BY uid)
, review_contribution(uid, total_score) AS
  (SELECT uid, SUM(vote_score)
   FROM reviews
   GROUP BY uid)
SELECT res.uid, CEIL(SUM(res.total_score))
FROM (SELECT * FROM resource_contribution
    UNION ALL
    SELECT * FROM review_contribution) AS res
GROUP BY res.uid
ORDER BY SUM(res.total_score) DESC


--We can get user_id:3 is the No.1 contributor

In [105]:
%%sql
--second query
--Get the top 3 users who are most likely to learn foreign language well. Galculate the total number of interactions such as sending moments, making comments, posting events, joining events, sharing resources, reviewing recources. 
WITH get_all_interactions AS (
SELECT moments.uid
FROM moments
UNION ALL
SELECT comments.uid
FROM comments
UNION ALL
SELECT events.uid
FROM events
UNION ALL
SELECT join_event.uid
FROM join_event
UNION ALL
SELECT resources.uid
FROM resources
UNION ALL
SELECT reviews.uid
FROM reviews)

SELECT user_id, user_name, COUNT(*)
FROM users, get_all_interactions
WHERE users.user_id = get_all_interactions.uid
GROUP BY user_id
ORDER BY COUNT(*) DESC
LIMIT 3

--Because all of the entities metioned above represent records. Add them together results in the number of interactions in total. Then group by user_id.

 * postgresql://zs2489:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
3 rows affected.

[(3, 'Eugene Wu      ', 11),
 (7, 'Ryan Ko        ', 10),
 (1, 'Zhou Shen      ', 8)]

In [ ]:
%%sql
--third query
--Get what type of resource is the most popular and normalize the avg_starts to between 0 and 1
DROP FUNCTION IF EXISTS normalize;
CREATE FUNCTION normalize(x float) RETURNS float
AS $$
SELECT $1/5;
$$ LANGUAGE SQL;

WITH type_avg_stars AS (
SELECT resource_type, AVG(avg_stars)
FROM resources
GROUP BY resource_type)

SELECT type_avg_stars.resource_type, normalize(type_avg_stars.avg)
FROM type_avg_stars